{% extends "../_base.html" %}

{% block title %}{% endblock %}

{% block content %}

  <h1>All employees</h1>
  <hr><br>
  <a href="/employees/new" class="btn btn-primary">Add new employee</a>
  <br><br>
  <div class="row">
    <div class="col-md-5">
      <table class="table">
        <thead>
          <tr>
            <th><h4>Last Name</h4></th>
            <th><h4>Update?</h4></th>
            <th><h4>Delete?</h4></th>
          </tr>
        </thead>
        <tbody>
          {% for employee in employees %}
            <tr>
              <td><a href="/employees/{{employee.id}}/show">{{employee.last_name}}</a></td>
              <td><a href="/employees/{{employee.id}}/edit" class="btn btn-xs btn-warning">Update</a></td>
              <td><form method="post" action="/employees/{{employee.id}}/delete"><button class="btn btn-xs btn-danger">Delete</button></form></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
